.math-parallax-scene {
    mask: var(--gradient);
    backdrop-filter: blur(10px);
    -webkit-mask: var(--gradient);
    -webkit-backdrop-filter: blur(10px);
}

.math-parallax-scene.radial-blur {
    --gradient: radial-gradient(
        black,
        transparent calc(100% - var(--blur-percentage, 30%))
    );
}

.math-parallax-scene.horizontal-blur {
    --gradient: linear-gradient(
        90deg,
        transparent,
        black var(--blur-percentage, 10%)
            calc(100% - var(--blur-percentage, 10%)),
        transparent
    );
}

.math-parallax-scene.vertical-blur {
    --gradient: linear-gradient(
        0deg,
        transparent,
        black var(--blur-percentage, 10%)
            calc(100% - var(--blur-percentage, 10%)),
        transparent
    );
}

.math-parallax-scene > div {
    animation-delay: 0;
    animation-duration: 25s;
    animation-fill-mode: normal;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
}

@keyframes math-equation-movement1 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(calc(-100% * var(--x)), calc(-100% * var(--y)));
    }
}

@keyframes math-equation-movement2 {
    from {
        transform: translate(calc(100% * var(--x)), 0%);
    }
    to {
        transform: translate(0%, calc(-100% * var(--y)));
    }
}

@keyframes math-equation-movement3 {
    from {
        transform: translate(calc(100% * var(--x)), calc(100% * var(--y)));
    }
    to {
        transform: translate(0%, 0%);
    }
}

@keyframes math-equation-movement4 {
    from {
        transform: translate(0, calc(100% * var(--y)));
    }
    to {
        transform: translate(calc(-100% * var(--x)), 0%);
    }
}
