.modal.drawer.animated {
    opacity: 1;
    transform: scale(1);

    animation-name: drawer-entrance;
    animation-timing-function: ease-in-out;
}

.modal.drawer.animated:not(.open) {
    animation-name: drawer-exit;
}

@keyframes drawer-entrance {
    from {
        transform: translate(var(--from-x), var(--from-y));
    }
    to {
        transform: translate(var(--to-x), var(--to-y));
    }
}

@keyframes drawer-exit {
    from {
        transform: translate(var(--to-x), var(--to-y));
    }
    to {
        transform: translate(var(--from-x), var(--from-y));
    }
}
