.modal.animated {
    opacity: 0;
    transform: scale(0);

    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: modal-entrance;
    animation-duration: var(--animation-duration, 400ms);
    animation-timing-function: cubic-bezier(0.4, 1.4, 0.32, 1);
}

.modal.animated:not(.open) {
    animation-name: modal-exit;
    animation-timing-function: ease-in-out;
}

.modal-backdrop.animated {
    opacity: 0;

    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-name: modal-backdrop-entrance;
    animation-duration: var(--animation-duration, 400ms);
}

.modal-backdrop.animated:not(.open) {
    animation-name: modal-backdrop-exit;
    animation-timing-function: ease-in-out;
}

@keyframes modal-entrance {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modal-exit {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes modal-backdrop-entrance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-backdrop-exit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
