@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "offline font";
    src: url("offline_font.ttf");
}

@import "tailwindcss";

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Exo 2", "El Messiri", "offline font", sans-serif;

    @apply text-foreground-darker bg-background-light overflow-x-hidden transition duration-200;
}

@theme {
    --text-xs: 0.5rem;
    --text-sm: 0.75rem;
    --text-md: 1rem;
    --text-lg: 1.375rem;
    --text-xl: 1.875rem;
    --text-2xl: 2.625rem;
    --text-3xl: 3.625rem;
    --text-4xl: 4.625rem;
    --text-5xl: 5rem;
    --text-6xl: 5.5rem;
    --text-7xl: 6rem;
    --text-8xl: 7rem;
    --text-9xl: 8rem;

    --spacing-page: 2.5rem;

    --color-primary-light: #e6f7f0;
    --color-primary-light-hover: #d9f3e8;
    --color-primary-light-active: #b0e6cf;
    --color-primary-normal: #00af64;
    --color-primary-normal-hover: #009e5a;
    --color-primary-normal-active: #008c50;
    --color-primary-dark: #00834b;
    --color-primary-dark-hover: #00693c;
    --color-primary-dark-active: #004f2d;
    --color-primary-darker: #003d23;

    --color-secondary-light: #fff4e6;
    --color-secondary-light-hover: #ffefd9;
    --color-secondary-light-active: #ffdeb0;
    --color-secondary-normal: #ff9500;
    --color-secondary-normal-hover: #e68600;
    --color-secondary-normal-active: #cc7700;
    --color-secondary-dark: #bf7000;
    --color-secondary-dark-hover: #995900;
    --color-secondary-dark-active: #734300;
    --color-secondary-darker: #593400;

    --color-tertiary-light: #eff6ff;
    --color-tertiary-light-hover: #e6f1fe;
    --color-tertiary-light-active: #cce2fe;
    --color-tertiary-normal: #5ba0fb;
    --color-tertiary-normal-hover: #5290e2;
    --color-tertiary-normal-active: #4980c9;
    --color-tertiary-dark: #4478bc;
    --color-tertiary-dark-hover: #376097;
    --color-tertiary-dark-active: #294871;
    --color-tertiary-darker: #203858;

    --color-background-light: #fffefb;
    --color-background-light-hover: #f0efea;
    --color-background-light-active: #dad9d3;
    --color-background-normal: #fcf7f1;
    --color-background-normal-hover: #ece4dc;
    --color-background-normal-active: #d5ccc3;
    --color-background-dark: #f7e7da;
    --color-background-dark-hover: #e4cebc;
    --color-background-dark-active: #ccb4a1;
    --color-background-darker: #b09582;

    --color-foreground-light: #000000;
    --color-foreground-light-hover: #000102;
    --color-foreground-light-active: #010203;
    --color-foreground-normal: #020407;
    --color-foreground-normal-hover: #05070a;
    --color-foreground-normal-active: #0a0d13;
    --color-foreground-dark: #0d1117;
    --color-foreground-dark-hover: #0d1118;
    --color-foreground-dark-active: #11161d;
    --color-foreground-darker: #151b23;

    --color-gray-light: #fafcff;
    --color-gray-light-hover: #f7faff;
    --color-gray-light-active: #eff5ff;
    --color-gray-normal: #cce0ff;
    --color-gray-normal-hover: #b8cae6;
    --color-gray-normal-active: #a3b3cc;
    --color-gray-dark: #99a8bf;
    --color-gray-dark-hover: #7a8699;
    --color-gray-dark-active: #5c6573;
    --color-gray-darker: #474e59;

    --color-vibrant-red: #ff595e;
    --color-vibrant-red-light: #ff99c8;
    --color-vibrant-yellow: #ffca3a;
    --color-vibrant-yellow-light: #fcf6bd;
    --color-vibrant-green: #8ac926;
    --color-vibrant-green-light: #d0f4de;
    --color-vibrant-blue: #1982c4;
    --color-vibrant-blue-light: #a9def9;
    --color-vibrant-purple: #6a4c93;
    --color-vibrant-purple-light: #e4c1f9;
}

body.dark-themed {
    --color-tertiary-light: #5ba0fb;
    --color-tertiary-light-hover: #31609e;
    --color-tertiary-light-active: #20416d;
    --color-tertiary-normal: #10233d;
    --color-tertiary-normal-hover: #0e2037;
    --color-tertiary-normal-active: #0d1c31;
    --color-tertiary-dark: #0c1a2e;
    --color-tertiary-dark-hover: #0b1525;
    --color-tertiary-dark-active: #07101b;
    --color-tertiary-darker: #060c15;

    --color-background-light: #151b23;
    --color-background-light-hover: #11161d;
    --color-background-light-active: #0d1118;
    --color-background-normal: #0d1117;
    --color-background-normal-hover: #0a0d13;
    --color-background-normal-active: #05070a;
    --color-background-dark: #020407;
    --color-background-dark-hover: #010203;
    --color-background-dark-active: #000102;
    --color-background-darker: #000000;

    --color-foreground-light: #ccb4a1;
    --color-foreground-light-hover: #e4cebc;
    --color-foreground-light-active: #f7e7da;
    --color-foreground-normal: #d5ccc3;
    --color-foreground-normal-hover: #ece4dc;
    --color-foreground-normal-active: #fcf7f1;
    --color-foreground-dark: #dad9d3;
    --color-foreground-dark-hover: #f0efea;
    --color-foreground-dark-active: #fffefb;
    --color-foreground-darker: #ffffff;
}

@layer utilities {
    .centralize {
        display: flex;
        place-items: center;
        place-content: center;
    }

    .icon {
        width: 32px;
        height: 32px;
        aspect-ratio: 1;
    }
}

@layer base {
    ::-webkit-scrollbar {
        @apply w-3;
    }

    ::-webkit-scrollbar-track {
        @apply bg-background-darker;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-background-normal border-background-darker rounded-xl border-2;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-background-normal-hover;
    }
}
