@tailwind utilities;
@import "tailwindcss";
@import "tailwindcss/preflight";

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-height: 100dvh;
}

@theme {
    --color-background-white: #ffffff;
    --color-background-white-hover: #fcfdfd;
    --color-background-white-active: #f5f7f9;
    --color-background-light: #fcfdfd;
    --color-background-light-hover: #f5f7f9;
    --color-background-light-active: #f0f3f6;
    --color-background-normal: #f9fafb;
    --color-background-normal-hover: #f2f4f7;
    --color-background-normal-active: #ebeef2;
    --color-background-dark: #f6f8f9;

    --color-primary-light: #e6f7f0;
    --color-primary-light-hover: #d9f3e8;
    --color-primary-light-active: #b0e6cf;
    --color-primary-normal: #00af64;
    --color-primary-normal-hover: #009e5a;
    --color-primary-normal-active: #008c50;
    --color-primary-dark: #00834b;
    --color-primary-dark-hover: #00693c;
    --color-primary-dark-active: #004f2d;
    --color-primary-darker: #003d23;
}
